
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
  }
}

@theme {
  --color-primary: #E58411;
  --color-secondary: #1E1E1E;

  --font-sans: "Poppins", sans-serif;
}

.section-container{
  @apply max-w-screen-2xl container mx-auto py-6 px-4;
}
.swiper-button-prev,
.swiper-button-next {
  padding: 0.5rem 1rem;    
  color: #E58411 !important;
  border-radius: 50%;      
  border: 1px solid #E58411;  
  background-color: white;             
  font-size: 1.125rem;       
  transition: all 0.3s ease;  
}

/* style the arrows */
.swiper-button-prev::after,
.swiper-button-next::after {
  color: rgb(255, 0, 0) ;          
  font-size: 1.125rem;        
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #E58411; 
  color: white !important;       
}

/* Default bullets */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: hsl(17, 100%, 55%) !important; 
  opacity: 1;                
  border-radius: 9999px;  
  margin: 0 6px;         
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color: #E58411 !important;
  width: 16px;               
  height: 16px;
}
